.u-content-wrapper {
    width: calc(100% - 32px) !important;
    margin: 0 auto;
}
.work {
    &__contents {
        align-content: space-around;
        height: 1500px;
    }
    &__content {
        width: 300px;
        padding-bottom: 80px;
        text-align: left;
        line-height: 1.8;
    }
}
.florist {
    &__persons {
        margin: 0 20px;
    }
}
.shopInformation__table {
    border-spacing: 7px;
    line-height: 1.7;
}
