body {
  margin: 0;
  font-family: poppins, sans-serif;
  font-size: 16px;
  color: #2b2b2b;
}
h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

section {
  text-align: center;
}

/***************
* utility
/***************/
.u-content-wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.u-heading {
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 24px;
  font-size: 36px;
  letter-spacing: 2px;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 40px;
    height: 1px;
    background-color: #2b2b22;
    transform: translateX(-50%);
  }
}
.u-text {
  padding-bottom: 40px;
  letter-spacing: 1.4px;
  line-height: 1.8;
}

/***************
* header
/***************/
.header {
  position: relative;
  width: 100%;
  height: 620px;
  background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url(../images/header.png);
  background-size: cover;
  text-align: center;
  color: #fff;
  font-family: myriad-pro, sans-serif;

  &__nav {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 64px;

    &__logo {
      font-size: 36px;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    padding-top: 240px;
    font-size: 120px;
    font-weight: normal;

    &__sub {
      word-spacing: 4px;
      &::before,
      &::after {
        content: '';
        display: inline-block;
        width: 12px;
        height: 2px;
        background-color: #fff;
        margin: 0 8px;
        vertical-align: middle;
      }
    }

  }

  & .hamburger-menu {
    display: block;
    position: relative;
    top: 22px;
    width: 32px;
    height:64px;
    cursor: pointer;

    &__line {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;

      &:nth-of-type(1){
        top: 0;
      }
      &:nth-of-type(2){
        top: 10px;
      }
      &:nth-of-type(3){
        bottom: 43px;
      }
    }
  }
}


/***************
* concept
/***************/
.concept {
  padding:80px 0;
  width: 100%;
  background: linear-gradient(#fff 70%, #ededed 30%);

  &__image {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

/***************
* work
/***************/
.work {
  width: 100%;
  padding: 80px 0;

  &__contents {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 1609px;
  }

  &__content {
    width: 420px;
    padding-bottom: 80px;
    line-height: 1.8;
    text-align: left;

    &:nth-of-type(1){
      order: 1;
    }
    &:nth-of-type(2){
      order: 3;
      margin-top: 120px;
    }
    &:nth-of-type(3){
      order: 2;
    }
    &:nth-of-type(4){
      order: 4;
    }

    &__image {
      width: 100%;
      padding-bottom: 16px;
    }

    &__heading {
      font-size: 24px;
    }

    &__text {
      letter-spacing: 1.5px;
    }
  }
}

/***************
* florist
/***************/
.florist {
  width: 100%;
  padding-top: 80px;
  background: linear-gradient(#ededed 60%, #fff 40%);

  &__persons {
    display: flex;
    justify-content: space-between;
  }

  &__person {
    width: 300px;
    text-align: left;
    line-height: 1.8;
    padding-bottom: 40px;

    &__image {
      width: 100%;
      padding-bottom: 12px;

    }

    &__name {
      font-size: 24px;
    }

    &__introduce {
      font-size:16px;
      letter-spacing: 1.5px;
    }
  }
}

/* * * * * * * * *
* Shop information
* * * * * * * * */
.shopInformation {
  width: 100%;
  padding: 80px 0 120px;

  &__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__image {
    width:50%;
  }

  &__table {
    width: 45%;
    border-spacing:16px;
    text-align: left;
    letter-spacing: 1.5px;
    line-height: 2;
    border-collapse: separate;

    &__heading {
      width: 25%;
      border-right: 1px solid #a0a0a0;
    }
  }

}

/* * * * * * * * *
* contact
* * * * * * * * */
.contact {
  padding: 80px 0;
  width: 100%;
  background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url(../images/contact_us.png);
  background-size: cover;
}

.btn__contact {
  position: relative;
  display: inline-block;
  width:360px ;
  height: 80px;
  line-height: 80px;
  letter-spacing: 2px;
  border: 1px solid #a0a0a0;
  background: #fff;
  font-size: 20px;
  padding-left: 40px;
  color: black;
  text-decoration: none !important;

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 2px;
  }

  &::before {
    border: 1px solid #2b2b2b;
    width: 30px;
    height: 20px;
    top: 30px;
    left: 70px;
  }

  &::after {
    border-right: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
    width: 20px;
    height: 20px;
    top: 20px;
    left: 75px;
    transform: rotate(45deg);
  }
}

/* * * * * * * * *
* footer
* * * * * * * * */
.footer {
  width: 100%;
  text-align: center;

  &__copyright {
    line-height: 40px;
    letter-spacing: 1.4px;
  }
}

